@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


hr {
  height: 2px;
}


.hoverClass {
  transition: all 0.4s;
}

.butterfly {
  transform: translateY(15%)rotateX(180deg)rotateY(0)rotate(90deg);
}

.parent {
  transition: all transform .8s cubic-bezier(.19, 1, .22, 1), margin-bottom .8s cubic-bezier(.19, 1, .22, 1);
}


@media (min-width: 1024px) {
  .parent .hidden-child {
    /* display: none;   */
    opacity: 0;
    height: 0px;
    transition: all 0.7s ;
  }

  .parent:hover .hidden-child {
    height: 90px;
    opacity: 1;
    /* display: block; */
  }
}